# Kiva dataset exploration

## Introduction
Kiva.org is an online crowdfunding platform to extend financial services to poor and financially excluded people around the world. Kiva lenders have provided over $1 billion dollars in loans to over 2 million people. In order to set investment priorities, help inform lenders, and understand their target communities, knowing the level of poverty of each borrower is critical. However, this requires inference based on a limited set of information for each borrower.

Kiva has provided a dataset of loans issued over the last two years, and participants are invited to use this data as well as source external public datasets to help Kiva build models for assessing borrower welfare levels.

More on the data and task can be found on [Kaggle](https://www.kaggle.com/kiva/data-science-for-good-kiva-crowdfunding/home)

I will use these data to practice my data science skills, especially with Pandas, matplotlib, scikit and, eventually, I'll build a Deep Learning Model.

## Goals
The following questions will try to be answered.
 + How is the total amount of spent? Which country receive the biggest amount on loan? Which type of projects are most funded? And within the most funded countries?
 + How is the money spread relative to the MPI?
 + What kind of features are most present for a loan (gender, group, ...), and if available, which ones are the most likely funded (haven't founded accepted / refused loan data yet)?
 + What trend are the lending trends?
 + Eventually writing a loan request generator just because reasons.
 
## Plan
We'll attack the problem by first exploring the data files on by one (on this document). Next we'll try answering the above questions on separated notebooks:
 + [How is the amount of loan spent?](http://localhost:8888/notebooks/01%20Loans%20by%20country%20exploration.ipynb)

## Exploring Kiva's Data
Let's introduce quickly the available files.
 + *kiva_loans.csv* (671K x 20) contains details loan informations.
 + *kiva_mpi_region_locations.csv* (2773 x 9) contains MPI (Global Multidimensional Poverty Index) by location and region.
 + *loan_theme_ids.csv* (779K x 4) Loan themes by ID
 + *loan_themes_by_region.csv* (15.7K x 21) Loan themes by region
 
Let's start with *kiva_loans*

In [77]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [85]:
kldf = pd.read_csv("data/02-kiva/kiva_loans.csv",index_col=0)
kldf.head(100)

,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
id,,,,,,,,,,,,,,,,,,,
653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01
1080148,250.0,250.0,Services,Services,purchase leather for my business using ksh 20000.,KE,Kenya,NaN,KES,NaN,2014-01-01 10:06:19+00:00,2014-01-30 01:42:48+00:00,2014-01-29 14:14:57+00:00,4.0,6,NaN,female,irregular,2014-01-01
653067,200.0,200.0,Dairy,Agriculture,To purchase a dairy cow and start a milk produ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:51:02+00:00,2013-12-16 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,8,"user_favorite, user_favorite",female,bullet,2014-01-01
653078,400.0,400.0,Beauty Salon,Services,to buy more hair and skin care products.,PK,Pakistan,Ellahabad,PKR,245.0,2014-01-01 11:46:01+00:00,2013-12-20 08:00:00+00:00,2014-01-10 18:18:44+00:00,14.0,8,"#Elderly, #Woman Owned Biz",female,monthly,2014-01-01
653082,475.0,475.0,Manufacturing,Manufacturing,"to purchase leather, plastic soles and heels i...",PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:49:43+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:47:21+00:00,14.0,19,user_favorite,female,monthly,2014-01-01
653048,625.0,625.0,Food Production/Sales,Food,"to buy a stall, gram flour, ketchup, and coal ...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 05:41:03+00:00,2013-12-17 08:00:00+00:00,2014-01-03 15:45:04+00:00,11.0,24,NaN,female,irregular,2014-01-01
653060,200.0,200.0,Rickshaw,Transportation,to cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:32:39+00:00,2013-12-24 08:00:00+00:00,2014-01-01 12:18:55+00:00,11.0,3,NaN,female,irregular,2014-01-01
653088,400.0,400.0,Wholesale,Wholesale,"to purchase biscuits, sweets and juices in bulk.",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:03:43+00:00,2013-12-16 08:00:00+00:00,2014-01-03 09:19:26+00:00,14.0,16,NaN,female,monthly,2014-01-01
653089,400.0,400.0,General Store,Retail,"to buy stock of rice, sugar and flour .",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:04:57+00:00,2013-12-24 08:00:00+00:00,2014-01-08 00:35:14+00:00,14.0,16,"#Repeat Borrower, #Woman Owned Biz",female,monthly,2014-01-01
653062,400.0,400.0,Clothing Sales,Clothing,to purchase variety of winter clothes to sell.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:57:58+00:00,2013-12-24 08:00:00+00:00,2014-01-02 15:47:37+00:00,12.0,10,NaN,female,irregular,2014-01-01
653075,225.0,225.0,Poultry,Agriculture,to expand her existing poultry farm business.,IN,India,Dhupguri,INR,334.0,2014-01-01 11:24:40+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:58:18+00:00,43.0,7,user_favorite,female,bullet,2014-01-01
653054,300.0,300.0,Rickshaw,Transportation,to buy a three-wheeled rickshaw.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-02 00:04:08+00:00,11.0,9,NaN,female,irregular,2014-01-01
653091,400.0,400.0,General Store,Retail,"to buy packs of salts, biscuits and beverages.",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:09:10+00:00,2013-12-09 08:00:00+00:00,2014-01-14 15:57:05+00:00,14.0,11,"#Woman Owned Biz, #Parent",female,monthly,2014-01-01
653052,875.0,875.0,Tailoring,Services,"To buy a sewing machine, lace, zippers and but...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:25:41+00:00,2013-12-17 08:00:00+00:00,2014-01-01 18:07:34+00:00,11.0,25,NaN,"female, female, female",irregular,2014-01-01
653066,250.0,250.0,Sewing,Services,to purchase a sewing machine.,IN,India,Maynaguri,INR,334.0,2014-01-01 09:48:35+00:00,2013-12-13 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,4,"user_favorite, user_favorite",female,bullet,2014-01-01
653080,475.0,475.0,Beauty Salon,Services,to buy more cosmetics products for her beauty ...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:48:08+00:00,2013-12-19 08:00:00+00:00,2014-01-10 03:22:29+00:00,14.0,18,#Woman Owned Biz,female,monthly,2014-01-01
653065,250.0,250.0,Bakery,Food,to buy ingredients to make bakery products.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:26:34+00:00,2013-12-18 08:00:00+00:00,2014-01-01 15:35:59+00:00,11.0,10,NaN,female,irregular,2014-01-01
653055,350.0,350.0,Restaurant,Food,"to purchase vegetables, chicken, and oil to co...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:14:40+00:00,2013-12-24 08:00:00+00:00,2014-01-01 21:54:18+00:00,12.0,13,NaN,female,irregular,2014-01-01
653050,575.0,575.0,Clothing Sales,Clothing,To buy winter clothing to sell,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:05:17+00:00,2013-12-17 08:00:00+00:00,2014-01-02 23:56:08+00:00,12.0,20,NaN,"female, female",irregular,2014-01-01
653079,350.0,350.0,Embroidery,Arts,to buy reels of threads in different colors an...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:47:03+00:00,2013-12-13 08:00:00+00:00,2014-01-01 15:45:51+00:00,14.0,6,NaN,female,monthly,2014-01-01
653061,250.0,250.0,Food Stall,Food,to purchase a variety of needed food items to ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:46:28+00:00,2013-12-24 08:00:00+00:00,2014-01-02 01:33:55+00:00,11.0,7,NaN,female,irregular,2014-01-01
653074,250.0,250.0,Farming,Agriculture,to purchase potato seeds and fertilizers for g...,IN,India,Dhupguri,INR,334.0,2014-01-01 11:13:09+00:00,2013-12-13 08:00:00+00:00,2014-01-01 19:01:19+00:00,43.0,9,NaN,female,bullet,2014-01-01
653069,250.0,250.0,Construction Supplies,Construction,to purchase stones for starting a business sup...,IN,India,Maynaguri,INR,334.0,2014-01-01 10:04:17+00:00,2013-12-10 08:00:00+00:00,2014-01-01 22:12:43+00:00,43.0,10,"user_favorite, user_favorite",female,bullet,2014-01-01
653056,475.0,475.0,Rickshaw,Transportation,to cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:20:09+00:00,2013-12-24 08:00:00+00:00,2014-01-01 20:26:48+00:00,12.0,17,NaN,female,irregular,2014-01-01
653071,125.0,125.0,Farming,Agriculture,to purchase potato seeds and fertilizers for g...,IN,India,Maynaguri,INR,334.0,2014-01-01 10:35:20+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:06:47+00:00,43.0,5,NaN,female,bullet,2014-01-01
653073,250.0,250.0,Farming,Agriculture,to purchase potato seeds and fertilizer for fa...,IN,India,Dhupguri,INR,334.0,2014-01-01 11:09:26+00:00,2013-12-19 08:00:00+00:00,2014-01-01 21:47:05+00:00,43.0,10,NaN,female,bullet,2014-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653244,2000.0,2000.0,Retail,Retail,to install a display window and a sunshade for...,IQ,Iraq,NaN,USD,166.0,2014-01-02 09:15:05+00:00,2013-12-28 08:00:00+00:00,2014-01-31 16:27:13+00:00,15.0,71,"#Schooling, #Parent, #Biz Durable Asset, user_...",male,monthly,2014-01-02
653108,125.0,125.0,General Store,Retail,to buy goods to sell.,PH,Philippines,Pagadian - Lower Bagong Silang Pagadian City,PHP,126.0,2014-01-02 01:01:40+00:00,2013-12-16 08:00:00+00:00,2014-01-02 03:07:34+00:00,8.0,5,"#Woman Owned Biz, #Parent, #Interesting Photo",female,irregular,2014-01-02
653134,575.0,575.0,Pigs,Agriculture,to purchase additional feed for her pigs.,PH,Philippines,"Brookes Point, Palawan",PHP,145.0,2014-01-02 02:58:01+00:00,2013-12-09 08:00:00+00:00,2014-01-02 14:47:08+00:00,8.0,20,NaN,female,irregular,2014-01-02
653382,2775.0,2775.0,Tailoring,Services,buy more material to make dresses and suits an...,TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 16:09:36+00:00,2013-12-24 08:00:00+00:00,2014-01-11 08:09:29+00:00,8.0,101,user_favorite,"female, female, female, female, female",irregular,2014-01-02
653247,250.0,250.0,Food Stall,Food,"to purchase bundles of wheat flour, maize flou...",KE,Kenya,Voi,KES,164.0,2014-01-02 09:21:29+00:00,2013-12-05 08:00:00+00:00,2014-01-05 19:53:40+00:00,13.0,9,"#First Loan, #Low-profit FP, #Woman Owned Biz",female,irregular,2014-01-02
653115,275.0,275.0,Pigs,Agriculture,to buy piglets to raise,PH,Philippines,"Liloy-Timan, Liloy, Zamboanga del norte",PHP,126.0,2014-01-02 01:04:52+00:00,2013-12-12 08:00:00+00:00,2014-01-08 07:48:36+00:00,11.0,11,NaN,female,irregular,2014-01-02
653320,875.0,875.0,Retail,Retail,to buy popular fruit and vegetables and sacks ...,TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 12:48:27+00:00,2013-12-17 08:00:00+00:00,2014-01-18 22:30:12+00:00,9.0,25,user_favorite,"male, male",irregular,2014-01-02
653099,700.0,700.0,Poultry,Agriculture,to purchase 800 day-old layer chicks,PH,Philippines,"Tudela-Pan-ay ,Clarin,Misamis Occidental",PHP,126.0,2014-01-02 00:51:39+00:00,2013-12-19 08:00:00+00:00,2014-01-02 19:15:44+00:00,14.0,21,NaN,male,monthly,2014-01-02
653369,1550.0,1550.0,Retail,Retail,to buy business tailoring materials and sacks ...,TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 15:10:24+00:00,2013-12-24 08:00:00+00:00,2014-01-18 21:09:29+00:00,10.0,46,user_favorite,"female, female, female, female",irregular,2014-01-02
653378,250.0,250.0,Beauty Salon,Services,to purchase more artificial hair and gasoline ...,LR,Liberia,Caldwell,LRD,182.0,2014-01-02 16:01:43+00:00,2013-12-18 08:00:00+00:00,2014-01-03 00:58:07+00:00,11.0,10,NaN,female,irregular,2014-01-02
653430,1000.0,1000.0,Grocery Store,Food,"to stock food products like basic grains, suga...",HN,Honduras,"Nueva Frontera, Santa Barbara.",HNL,201.0,2014-01-02 23:27:36+00:00,2013-12-18 08:00:00+00:00,2014-01-23 01:20:36+00:00,20.0,34,"user_favorite, #Parent, user_favorite",female,monthly,2014-01-02
653216,2000.0,2000.0,Personal Housing Expenses,Housing,to repair the ceiling and install windows and ...,PS,Palestine,Tulkrem,USD,122.0,2014-01-02 08:17:56+00:00,2013-12-22 08:00:00+00:00,2014-01-30 10:15:20+00:00,39.0,62,"#Single, user_favorite",male,monthly,2014-01-02
653207,3000.0,3000.0,Construction,Construction,to pave his floors and to build doors and windows,PS,Palestine,Nablus,USD,122.0,2014-01-02 07:59:22+00:00,2013-12-22 08:00:00+00:00,2014-01-30 15:46:27+00:00,39.0,98,"#Parent, user_favorite, user_favorite",male,monthly,2014-01-02
653117,575.0,575.0,Farming,Agriculture,to purchase fertilizer and other farming supplies,PH,Philippines,"Liloy-San Miguel, Liloy, Zamboanga del Norte",PHP,126.0,2014-01-02 01:05:45+00:00,2013-12-17 08:00:00+00:00,2014-01-29 07:21:43+00:00,14.0,18,NaN,female,monthly,2014-01-02
653274,250.0,250.0,Construction Supplies,Construction,to purchase sand and stone for expanding the b...,IN,India,Maynaguri,INR,334.0,2014-01-02 10:44:11+00:00,2013-12-17 08:00:00+00:00,2014-01-02 22:58:25+00:00,43.0,7,"#Eco-friendly, #First Loan, #Schooling",female,bullet,2014-01-02
653175,3175.0,3175.0,Agriculture,Agriculture,"To purchase standard quality seeds, fertilizer...",IN,India,"Balipatna, Odisha",INR,241.0,2014-01-02 06:43:17+00:00,2013-12-03 08:00:00+00:00,2014-01-14 21:57:40+00:00,43.0,97,"#Supporting Family, #Vegan, #Fabrics, #Parent,...","female, female, female, female, female, female...",bullet,2014-01-02
653129,3050.0,3050.0,Tailoring,Services,to purchase an electric sewing machine and a v...,MN,Mongolia,"Ih toiruu, Ulaanbaatar",MNT,116.0,2014-01-02 02:41:19+00:00,2013-12-03 08:00:00+00:00,2014-01-02 12:43:48+00:00,23.0,92,"#Biz Durable Asset, #Woman Owned Biz",female,monthly,2014-01-02
653261,4275.0,5000.0,Personal Housing Expenses,Housing,"to pave the ground and repair the ceiling, to ...",PS,Palestine,jenin,USD,122.0,2014-01-02 09:53:45+00:00,2013-12-24 08:00:00+00:00,NaN,39.0,58,"#Supporting Family, #Interesting Photo, user_f...",male,monthly,2014-01-02
653171,5475.0,5475.0,Retail,Retail,to buy food stock and sacks of charcoal to use...,TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 06:32:40+00:00,2013-12-26 08:00:00+00:00,2014-01-22 18:19:18+00:00,9.0,169,"#Single Parent, #Widowed, #Woman Owned Biz, us...","female, female, female, female, female, female...",irregular,2014-01-02
653328,125.0,125.0,Food Market,Food,"to purchase more coconuts, dried meat, and sug...",LR,Liberia,New Kru,LRD,182.0,2014-01-02 13:16:16+00:00,2013-12-19 08:00:00+00:00,2014-01-02 20:01:20+00:00,11.0,1,"#Woman Owned Biz, #Parent, #First Loan",female,irregular,2014-01-02
653383,1000.0,1000.0,Grocery Store,Food,"to buy more products like meats, dairy product...",HN,Honduras,"San Pedro Sula, Cortés",HNL,201.0,2014-01-02 16:10:01+00:00,2013-12-09 08:00:00+00:00,2014-01-29 17:22:11+00:00,14.0,40,"#Elderly, #Interesting Photo, #Single, user_fa...",male,monthly,2014-01-02
653335,350.0,350.0,General Store,Retail,to buy additional groceries to sell,PH,Philippines,"Tanjay, Negros Oriental",PHP,145.0,2014-01-02 13:33:43+00:00,2013-12-10 08:00:00+00:00,2014-01-02 23:38:46+00:00,14.0,11,NaN,female,irregular,2014-01-02
653193,1500.0,1500.0,Motorcycle Transport,Transportation,To buy a motorcycle for his son's commute to s...,KH,Cambodia,Khsach Kandal district,USD,61.0,2014-01-02 07:17:22+00:00,2013-12-16 08:00:00+00:00,2014-01-23 16:28:01+00:00,26.0,53,"#Parent, user_favorite",male,monthly,2014-01-02
653160,5775.0,5775.0,Charcoal Sales,Retail,to buy food stock and sacks of charcoal,TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 06:02:32+00:00,2013-12-27 08:00:00+00:00,2014-01-06 15:23:12+00:00,6.0,154,"#Widowed, #Woman Owned Biz, #Elderly","male, male, female, female, male, male, female...",irregular,2014-01-02
653324,125.0,125.0,Food,Food,to purchase more cow skin for her business,LR,Liberia,New Kru,LRD,182.0,2014-01-02 13:09:26+00:00,2013-12-19 08:00:00+00:00,2014-01-02 21:26:19+00:00,11.0,5,NaN,female,irregular,2014-01-02
653381,325.0,325.0,Food Market,Food,"to purchase more red oil, imported oil, rice, ...",LR,Liberia,Caldwell,LRD,182.0,2014-01-02 16:09:14+00:00,2013-12-18 08:00:00+00:00,2014-01-04 22:05:18+00:00,11.0,10,NaN,female,irregular,2014-01-02
653107,325.0,325.0,General Store,Retail,to buy additional stocks for her sari-sari store.,PH,Philippines,Plaridel-Cebulin,PHP,126.0,2014-01-02 01:01:10+00:00,2013-12-03 08:00:00+00:00,2014-01-02 14:24:58+00:00,11.0,10,"#Elderly, #Schooling, #Woman Owned Biz",female,irregular,2014-01-02
653217,2200.0,2200.0,Pharmacy,Health,"to buy medicines, sand and sacks of cement.",TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 08:19:38+00:00,2013-12-17 08:00:00+00:00,2014-01-03 23:17:08+00:00,8.0,77,user_favorite,"male, female, male, male",irregular,2014-01-02
653345,600.0,600.0,Fruits & Vegetables,Food,"to purchase onions, tomatoes, vegetables, and ...",KE,Kenya,Likoni,KES,164.0,2014-01-02 13:55:18+00:00,2013-12-14 08:00:00+00:00,2014-01-08 22:25:13+00:00,14.0,22,NaN,female,irregular,2014-01-02
1080153,5000.0,5000.0,Food Production/Sales,Food,hire more staff to keep up with the volume of ...,US,United States,NaN,USD,NaN,2014-01-02 20:13:47+00:00,2014-03-10 22:53:12+00:00,2014-03-11 05:53:06+00:00,30.0,261,NaN,female,monthly,2014-01-02

All the loans are fully fully funded with no information on potential refused / not through loans. No information on if / when the loans where reimbursed so far. Useful information for what I want are loan_amount, activity, use, country and borrower gender. We could use this to find where the money is spent and on what type of activites. Note the gender column asks for a bit of postprocessing to discover groups and gender biases. Posted time combined with sector and activity can help finding general and country specific trends.

I'd like to see when if at any moment there is a difference between loan_amount and funded_amount which would mean that some of the money is lost somewhere.

In [99]:
mask = kldf["funded_amount"] != kldf["loan_amount"]
kldf[mask].head()

,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
id,,,,,,,,,,,,,,,,,,,
653261,4275.0,5000.0,Personal Housing Expenses,Housing,"to pave the ground and repair the ceiling, to ...",PS,Palestine,jenin,USD,122.0,2014-01-02 09:53:45+00:00,2013-12-24 08:00:00+00:00,NaN,39.0,58,"#Supporting Family, #Interesting Photo, user_f...",male,monthly,2014-01-02
653256,1925.0,2400.0,Electronics Repair,Services,to pay the annual rent for his shop,IQ,Iraq,NaN,USD,166.0,2014-01-02 09:44:10+00:00,2013-12-29 08:00:00+00:00,NaN,15.0,41,"#Single, #Supporting Family, #Eco-friendly, us...",male,monthly,2014-01-02
653253,2625.0,3000.0,Grocery Store,Food,to pay the annual rent on his grocery store an...,IQ,Iraq,NaN,USD,166.0,2014-01-02 09:35:12+00:00,2013-12-29 08:00:00+00:00,NaN,15.0,72,"#First Loan, #Biz Durable Asset, #Single, user...",male,monthly,2014-01-02
653259,2750.0,3000.0,Grocery Store,Food,to install a new floor in his grocery store an...,IQ,Iraq,NaN,USD,166.0,2014-01-02 09:51:47+00:00,2013-12-30 08:00:00+00:00,NaN,15.0,44,"#Biz Durable Asset, #Supporting Family, user_f...",male,monthly,2014-01-02
653263,1300.0,3000.0,Clothing,Clothing,to buy shoes and clothes to sell.,PS,Palestine,jenin,USD,122.0,2014-01-02 10:03:18+00:00,2013-12-24 08:00:00+00:00,NaN,27.0,35,"#Parent, user_favorite",female,monthly,2014-01-02

In [117]:
diff = kldf[mask]["loan_amount"] - kldf[mask]["funded_amount"]
np.sum(diff.values)

37857335.0

An apparently big amount of money is disappearing. Let's get a few stats out of this.

First our biggest losses.

In [115]:
diff_sorted = diff.sort_values(ascending=False)
for i in range(5):
    print(kldf.loc[diff_sorted.index[i]])

funded_amount                                 0
loan_amount                               50000
activity                     Goods Distribution
sector                                Wholesale
use                                         NaN
country_code                                 HT
country                                   Haiti
region                                      NaN
currency                                    USD
partner_id                                  506
posted_time           2016-12-09 22:54:50+00:00
disbursed_time        2017-02-28 08:00:00+00:00
funded_time                                 NaN
term_in_months                               14
lender_count                                  0
tags                                        NaN
borrower_genders                            NaN
repayment_interval                    irregular
date                                 2016-12-09
Name: 1201692, dtype: object
funded_amount                                 0
loan_amount                               50000
activity                                   Taxi
sector                           Transportation
use                                         NaN
country_code                                 MX
country                                  Mexico
region                                      NaN
currency                                    USD
partner_id                                  427
posted_time           2016-02-12 18:23:22+00:00
disbursed_time        2016-04-30 07:00:00+00:00
funded_time                                 NaN
term_in_months                               17
lender_count                                  0
tags                                   #Elderly
borrower_genders                            NaN
repayment_interval                    irregular
date                                 2016-02-12
Name: 1022157, dtype: object
funded_amount                                                       200
loan_amount                                                       50000
activity                                          Food Production/Sales
sector                                                             Food
use                                                                 NaN
country_code                                                         PE
country                                                            Peru
region                                                              NaN
currency                                                            USD
partner_id                                                          429
posted_time                                   2016-10-11 13:35:18+00:00
disbursed_time                                2016-11-04 07:00:00+00:00
funded_time                                                         NaN
term_in_months                                                       60
lender_count                                                          7
tags                  user_favorite, user_favorite, user_favorite, u...
borrower_genders                                                    NaN
repayment_interval                                            irregular
date                                                         2016-10-11
Name: 1166019, dtype: object
funded_amount                                                      3525
loan_amount                                                       49925
activity                                                    Agriculture
sector                                                      Agriculture
use                                                                 NaN
country_code                                                         CL
country                                                           Chile
region                                                              NaN
currency                                                            USD
partner_id                                                          429
posted_time                                   2015-06-16 12:43:08+00:00
disbursed_time                                2015-08-10 07:00:00+00:00
funded_time                                                         NaN
term_in_months                                                       42
lender_count                                                        125
tags                  #Biz Durable Asset, #Sustainable Ag, #Unique, ...
borrower_genders                                                    NaN
repayment_interval                                              monthly
date                                                         2015-06-16
Name: 902613, dtype: object
funded_amount                                                      9975
loan_amount                                                       50000
activity                                            Fruits & Vegetables
sector                                                             Food
use                   to generate income opportunities for 1250+ low...
country_code                                                         PE
country                                                            Peru
region                                                             Lima
currency                                                            USD
partner_id                                                          429
posted_time                                   2016-10-13 19:32:42+00:00
disbursed_time                                2016-11-11 08:00:00+00:00
funded_time                                                         NaN
term_in_months                                                       60
lender_count                                                        224
tags                  user_favorite, user_favorite, user_favorite, u...
borrower_genders                                                   male
repayment_interval                                            irregular
date                                                         2016-10-13
Name: 1167661, dtype: object

They do not seem to provide any info on why these two amounts don't match. Some differences are pretty big.

Let's see some statistics on these losses (mean, variance, distribution per country). And finally, we'll see if we can find some partners who pop more often.